* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    background-color: #f3f3f3;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

input {
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

textarea {
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

select {
    font-family: 'Noto Sans KR', sans-serif;
}

table {
    border-collapse: collapse;
}

button {
    display: block;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

select {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    background: url('../img/list_bt_arrow.png') no-repeat 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

.color_blue {
    color: #1f4089;
}