/*calendar*/
.calendar_con {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.calendar_con .calendar_date_title {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    padding: 15px 20px;
}

.calendar_con .calendar_date_title>h2 {
    position: relative;
    text-align: center;
    font-size: 1.25rem;
    color: #1f4089;
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 35px;
}

.calendar_con .calendar_date_title>.calendar_btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 16px;
    right: 26px;
}

.calendar_con .calendar_date_title>.calendar_btn>a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.calendar_con .calendar_date_title>.calendar_btn>a>img {
    width: 100%;
    height: 100%;
}

.calendar_con .calendar_list {
    width: 100%;
    height: auto;
    position: relative;
}

.calendar_con .calendar_list .calendar_wrap {
    table-layout: fixed;
    width: 100%;
    height: auto;
    position: relative;
    border-top: 2px solid #e7e7e7;
}

.calendar_con .calendar_list .calendar_wrap thead tr th {
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -.5px;
    color: #909090;
    padding: 10px 5px;
    line-height: 1rem;
}

.calendar_con .calendar_list .calendar_wrap thead tr th:last-of-type {
    border-right: 0;
}

.calendar_con .calendar_list .calendar_wrap thead tr th.sort {
    width: 40px;
}

.calendar_con .calendar_list .calendar_wrap thead tr th.date_th {
    width: 20%;
}

.calendar_con .calendar_list .calendar_wrap .table_tbody {
    height: 602px;
}

.calendar_con .calendar_list .calendar_wrap .table_tbody .table_tr {
    height: 1px;
}

.calendar_con .calendar_list .calendar_wrap .table_tbody .table_tr>.table_td {
    height: 100%;
    position: relative;
}

.calendar_con .calendar_list .calendar_wrap .table_tbody .calendar_tbody {
    height: 100%;
    overflow: hidden;
    direction: ltr;
}

.calendar_con .calendar_list .calendar_wrap .table_tbody .calendar_scroll {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden scroll;
}

.calendar_con .calendar_list .calendar_wrap .table_tbody .calendar_scroll::-webkit-scrollbar {
    display: none;
}

.calendar_con .calendar_list .calendar_wrap .table_tbody .calendar_box {
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}

.calendar_wt {
    position: relative;
    z-index: 1;
}

.calendar_wt>table {
    width: 100%;
    position: relative;
}

.calendar_wt>table td.time {
    text-align: center;
    width: 40px;
    height: 60px;
    font-size: 1rem;
    vertical-align: middle;
    font-weight: 400;
    border-bottom: 2px solid #e7e7e7;
    color: #909090;
}

.calendar_wt>table td.slot {
    height: 60px;
    border-bottom: 2px solid #e7e7e7;
}

.calendar_ht {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.calendar_ht>table {
    width: 100%;
    height: 100%;
    position: relative;
    table-layout: fixed;
}

.calendar_ht>table td.time {
    vertical-align: top;
    width: 40px;
    position: relative;
    border-right: 2px solid #e7e7e7;
}

.calendar_ht>table td.date_box {
    width: 20%;
    border-right: 2px solid #e7e7e7;
}

.calendar_ht>table td:last-of-type {
    border-right: 0;
}

.calendar_ht>table td.date_box .date_con {
    width: 100%;
    height: 100%;
    position: relative;
}

.calendar_ht>table td.date_box .date_con a {
    position: absolute;
    width: 100%;
    display: table-cell;
    background-color: #fff;
    border-radius: 5px;
    margin: 1px;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    overflow: hidden scroll;
}

.calendar_ht>table td.date_box .date_con a::-webkit-scrollbar {
    display: none;
}

.calendar_ht>table td.date_box .date_con a>h2 {
    font-size: 0.938rem;
    font-weight: 500;
    letter-spacing: -.5px;
    color: #fff;
    word-break: break-all;
}

.calendar_ht>table td.date_box .date_con a>p {
    font-size: 0.813rem;
    font-weight: 400;
    letter-spacing: -.5px;
    color: #fff;
}

.calendar_ht>table td.date_box .date_con a.box1 {
    background-color: #ea8e6a;
}

.calendar_ht>table td.date_box .date_con a.box2 {
    background-color: #f2c666;
}

.calendar_ht>table td.date_box .date_con a.box3 {
    background-color: #a6c971;
}

.calendar_ht>table td.date_box .date_con a.box4 {
    background-color: #a881af;
}

@media all and (max-width: 481px) {
    .calendar_con .calendar_date_title>.calendar_btn {
        right: 15px;
    }

    .calendar_con .calendar_list .calendar_wrap thead tr th.date_th {
        font-size: 0.938rem;
    }

    .calendar_ht>table td.time {
        font-size: 0.938rem;
    }

    .calendar_ht>table td.date_box .date_con a>h2 {
        font-size: 0.813rem;
    }
}

@media all and (max-width: 376px) {
    .calendar_con .calendar_list .calendar_wrap thead tr th.date_th {
        font-size: 0.813rem;
    }

    .calendar_ht>table td.time {
        font-size: 0.813rem;
    }
}

/*calendar end*/

/*calendar modal*/
.calendar_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.calendar_modal {
    width: 100%;
    height: 230px;
    position: fixed;
    bottom: -230px;
    left: 0;
    right: 0;
    z-index: 991;
    background-color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.calendar_modal.active {
    opacity: 1;
    bottom: 0;
}

.calendar_modal .calendar_modal_con {
    width: 100%;
    height: auto;
    position: relative;
}

.calendar_modal .calendar_modal_con .calendar_modal_title {
    width: 100%;
    height: auto;
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .modal_title {
    float: left;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .modal_title>h2 {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 25px;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .setting {
    float: right;
    width: auto;
    height: auto;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .setting>a {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .setting>a>img {
    width: 100%;
    height: 100%;
}

.calendar_modal .calendar_modal_con .modal_cont {
    padding: 15px 30px;
    height: 175px;
    overflow: hidden auto;
}

.calendar_modal .calendar_modal_con .modal_cont::-webkit-scrollbar {
    display: none;
}

.calendar_modal .calendar_modal_con .modal_cont>p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
}

.bd_botton {
    border-bottom: 2px solid #ececec;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .color_title {
    width: 100%;
    height: auto;
    position: relative;
    float: none;
    text-align: center;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .color_title>h2 {
    color: #000;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .color_check {
    position: absolute;
    top: 15px;
    right: 30px;
}

.calendar_modal .calendar_modal_con .calendar_modal_title .color_check>a {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -.5px;
    line-height: 25px;
}

.calendar_modal .calendar_modal_con .color_box {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
}

.calendar_modal .calendar_modal_con .color_box>li {
    float: left;
    width: -webkit-calc(100% / 5);
    width: -moz-calc(100% / 5);
    width: calc(100% / 5);
    height: auto;
    position: relative;
    margin-bottom: 20px;
}

.calendar_modal .calendar_modal_con .color_box>li>a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5rem;
    margin: 0 auto;
    position: relative;
}

.calendar_modal .calendar_modal_con .color_box>li.active>a::after {
    content: '';
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 5rem;
}


@media all and (max-width: 481px) {
    .calendar_modal .calendar_modal_con .calendar_modal_title {
        padding: 15px;
    }

    .calendar_modal .calendar_modal_con .calendar_modal_title .modal_title>h2 {
        font-size: 1rem;
    }

    .calendar_modal .calendar_modal_con .modal_cont {
        padding: 15px;
    }

    .calendar_modal .calendar_modal_con .modal_cont>p {
        font-size: 0.938rem;
    }
}

@media all and (max-width: 376px) {
    .calendar_modal .calendar_modal_con .modal_cont>p {
        font-size: 0.813rem;
    }
}

/*calendar modal end*/

/*calendar writer*/
.calendar_writer {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 100px;
}

.calendar_writer .calendar_form {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 30px;
}

.calendar_writer .calendar_form>li {
    padding: 15px 0;
    border-bottom: 2px solid #ececec;
}

.calendar_writer .calendar_form>li .calendar_select {
    width: 100%;
    height: auto;
    position: relative;
}

.calendar_writer .calendar_form>li .calendar_select select {
    width: 60px;
    height: 40px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.5px;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-align-last: center;
    background: none;
}

.calendar_writer .calendar_form>li .calendar_select select option {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
}

.calendar_writer .calendar_form>li .calendar_select>select::-ms-expand {
    display: none;
}

.calendar_writer .calendar_form>li .calendar_select>select.day_s {
    width: 40px;
}

.calendar_writer .calendar_form>li .input_size {
    width: 100%;
    height: 40px;
    position: relative;
}

.calendar_writer .calendar_form>li .input_size>input {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.5px;
    padding-left: 5px;
}

.calendar_writer .calendar_form>li .color_btn {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 5px;
}

.calendar_writer .calendar_form>li .color_btn>span {
    width: 30px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

.calendar_writer .calendar_form>li .color_btn>span>img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

.calendar_writer .calendar_form>li .color_btn>.color_box {
    width: 30px;
    height: 30px;
    background-color: #ea8e6a;
    border-radius: 5rem;
    display: inline-block;
    vertical-align: middle;
}

@media all and (max-width: 481px) {
    .calendar_writer .calendar_form {
        padding: 0 15px;
    }
}

@media all and (max-width: 376px) {
    .calendar_writer .calendar_form>li .calendar_select select {
        font-size: 0.813rem;
    }

    .calendar_writer .calendar_form>li .input_size>input {
        font-size: 0.813rem;
    }
}

/*calendar writer end*/